<html>
    <head>
        <title>IPv6 Calculator</title>
    </head>
    <body>
        <div id="container">
	    <div class="pagetitle">
	         <h1>Calculate IPv6 Network</h1>
	    </div>
	    <div id="main">
	        <form method="post" action="{{ url_for('result') }}">
		    <label for="ip_address">ip_addr/cidr:</label>
		    <input type="text" name="ip_address" size="50" placeholder="a634:57b4:573f:5d34::1/39"><br />
		    <input type="submit">
		</form>
	    </div>
	</div>
    </body>
</html>
